/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/scss/bootstrap.scss';
body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #151515;
    padding-top: 20px;
    height: 100%;
}
 body * {
     font-family: Roboto, "Helvetica Neue", sans-serif;
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }
 .row > *{
     padding-right: 0;
 }
 .img-circle{
     width: 50px;
     height: 45px;
    border-radius: 100%;
    object-fit: cover;
 }

 .search {
    font-weight: 550;
    cursor: pointer;
    &:hover{
        background-color:white;
        color:#0d6efd;
        transition-duration: 0.5s;
    }
 }

 .bg-light{
    background-color: cornflowerblue;
 }